# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# Backend
backend/__pycache__/
backend/venv/
backend/.env
sql_app.db
backend/static/images/*.png
!backend/static/images/day_*.png
!backend/static/images/building_*.png

# Other
.DS_Store
